name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    permissions:
     actions: read
     contents: write
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose --release
    - name: Anchore SBOM Action
      uses: anchore/sbom-action@v0.22.2
      with:
        path: ./src/
        artifact-name: sbom.spdx
